### 071
##### my_variable 이름의 비어있는 튜플을 만들라.

In [1]:
my_vaiable = ()
print(type(my_vaiable))

<class 'tuple'>

### 072
##### 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라.

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax">순위</th>
    <th class="tg-0lax">영화</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">1</td>
    <td class="tg-0lax">닥터 스트레인지</td>
  </tr>
  <tr>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">스플릿</td>
  </tr>
  <tr>
    <td class="tg-0lax">3</td>
    <td class="tg-0lax">럭키</td>
  </tr>
</tbody>
</table>

In [2]:
movie_rank = '닥터 스트레인지', '스플릿', '럭키'
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

### 073
##### 숫자 1 이 저장된 튜플을 생성하라.

In [7]:
num = (1,)
print(type(num))

<class 'tuple'>

### 074
##### 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

In [10]:
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

튜플의 값은 수정할 수 없습니다.

### 075
##### 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

In [ ]:
t = 1,2,3,4

튜플입니다.

### 076
##### 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

In [15]:
t = ('a', 'b', 'c')
t = list(t)
t[0] = 'A'
print(t)
t = tuple(t)
print(t)

['A', 'b', 'c']
('A', 'b', 'c')

### 077
##### 다음 튜플을 리스트로 변환하라.

In [16]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
##############
#코드를 적어주세요

interest = list(interest)
print(type(interest))

##############

<class 'list'>

### 078
##### 다음 리스트를 튜플로 변경하라.

In [17]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
##############
#코드를 적어주세요

interest = tuple(interest)
print(type(interest))

##############

<class 'tuple'>

### 079 튜플 언팩킹
##### 다음 코드의 실행 결과를 예상하라.

In [18]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

apple, banana, cake

### 080 range 함수
##### 1부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

In [19]:
data = tuple(range(2,99,2))
##############
#코드를 적어주세요

print(data)
##############

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)