# Ex3 - Grouping 하기

### Introduction:

`Grouping`는 Split - Apply - Combine 로 요약할 수 있습니다.

`Grouping`을 간단히 도식화한 [Diagram](http://i.imgur.com/yjNkiwL.png) 을 참고하십시오.

### Step 1. 필요한 라이브러리 불러오기

In [1]:
import pandas as pd

### Step 2.  데이터셋 다운로드.

1. [주소](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv) 이동


2. `Ctrl + S` 로 다운로드


3. 파일 이름 뒤쪽의 .txt가 있다면 지우기


4. 파일 위치는 현재 파일(Exercises_with_solutions.ipynb)와 같은 곳으로

### Step 3. 'drinks' 변수에 다운로드 한 데이터셋 가져오기

In [23]:
drinks = pd.read_csv('drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. 평균 이상의 `beer`을 마신 `continent` 찾아보기

In [25]:
# mean_df = drinks['beer_servings'].mean()

# a = drinks.loc[drinks.beer_servings >= mean_df]
# b = a['continent']
# b

print(drinks.groupby('country').beer_servings.mean())
print(drinks.groupby('continent').beer_servings.mean())

country
Afghanistan      0.0
Albania         89.0
Algeria         25.0
Andorra        245.0
Angola         217.0
               ...
Venezuela      333.0
Vietnam        111.0
Yemen            6.0
Zambia          32.0
Zimbabwe        64.0
Name: beer_servings, Length: 193, dtype: float64
continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

### Step 5. 각 `continent`에 대해 와인 소비에 대한 통계를 print 하기

In [26]:
import numpy as np

# a = drinks.groupby('continent')['wine_servings'].mean()
# b = drinks.groupby('continent')['wine_servings'].sum()

# a = drinks.groupby('continent').agg(np.mean)
# a
# # def my_mean(s):
# #     return np.mean(s)

# drinks.groupby('continent').agg({'mean': my_mean, 'quantity': np.sum})

drinks.groupby('continent').wine_servings.describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. 각 `continent` 당 alcohol 소비에 대한 평균값을 column별로 도출해내기

In [27]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Step 7. 각 `continent` 당 alcohol 소비에 대한 중간값(median)을 column별로 도출해내기

In [28]:
drinks.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. `spirit` 소비량의 최솟값, 최댓값, 평균값을 dataFrame 타입으로 불러오기

In [29]:
drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max'])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302