# Ex5 - Merge

### Introduction:

이번에는 주택 시장을 설명하기 위해 가상의 숫자로 자체 데이터 세트를 만들 것입니다. 무작위 데이터를 생성할 것이기 때문에 숫자를 추론하려고 하지 마십시오.

### Step 1. 라이브러리 불러오기

In [1]:
import pandas as pd
import numpy as np

### Step 2. 다음 조건에 맞춰 길이가 100인 서로 다른 3개의 series 를 만들 것입니다. 각 조건은 다음과 같습니다 : 
1. 첫번쨰 series는 1 ~ 4 사이의 랜덤 숫자를 가지는 길이 100의 series
2. 두번쨰 series는 1 ~ 3 사이의 랜덤 숫자를 가지는 길이 100의 series
3. 세번쨰 series는 10,000 ~ 30,000 사이의 랜덤 숫자를 가지는 길이 100의 series

In [2]:
#힌트 : Series 변수를 선언하는 메서드는 `pandas.Series` 입니다.
#추가 힌트 : 파이썬에서 랜덤 숫자를 만들어내는 방법은 다양하지만 numpy.random.randint는 최솟값, 최댓값, 만들어낼 배열의 크기를 입력하여 랜덤 변수를 생성할 수 있습니다
#ex) 1부터 10까지의 랜덤 숫자를 가지는 크기 10의 numpy 배열 선언 방법은 numpoy.random.randint(1,high=10, size=10, dtype='l') 이다.

s1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

print(s1, s2, s3)

0     1
1     4
2     4
3     1
4     1
     ..
95    2
96    3
97    2
98    2
99    4
Length: 100, dtype: int32 0     3
1     2
2     2
3     1
4     2
     ..
95    3
96    2
97    2
98    1
99    3
Length: 100, dtype: int32 0     16679
1     25599
2     10207
3     22940
4     11658
      ...
95    22990
96    12173
97    28558
98    24454
99    13679
Length: 100, dtype: int32

### Step 3. 각 series를 column으로 가지는 dataframe 만들기 (힌트: concat 이용)

In [4]:
housemkt = pd.concat([s1,s2,s3], axis = 1)
housemkt.head()

   0  1      2
0  1  3  16679
1  4  2  25599
2  4  2  10207
3  1  1  22940
4  1  2  11658

### Step 4. 각 colunmn의 이름을 `bedrs`, `bathrs`, `price_sqr_meter` 로 바꾸기

In [6]:
housemkt.rename(columns= {0: 'bedrs', 1: 'bathrs', 2 : 'price_sqr_meter'}, inplace=True)

housemkt

    bedrs  bathrs  price_sqr_meter
0       1       3            16679
1       4       2            25599
2       4       2            10207
3       1       1            22940
4       1       2            11658
..    ...     ...              ...
95      2       3            22990
96      3       2            12173
97      2       2            28558
98      2       1            24454
99      4       3            13679

[100 rows x 3 columns]

### Step 5. 세 series 즉, 세 column 값을 하나의 column으로 가지는 Dataframe `bigcolumn` 선언하기

In [8]:
# 각 series를 concat 하기
bigcolumn = pd.concat([s1,s2,s3], axis=0)

# series를 concat해서 만드는 새로운 변수 또한 Series 변수이다. 이를 dataframe으로 변환하자
bigcolumn = bigcolumn.to_frame()

print(type(bigcolumn))

bigcolumn

<class 'pandas.core.frame.DataFrame'>

        0
0       1
1       4
2       4
3       1
4       1
..    ...
95  22990
96  12173
97  28558
98  24454
99  13679

[300 rows x 1 columns]

### Step 6. `bigcolumn`의 길이를 확인하여 세 개의 column이 합쳐졌는지 확인해보기

In [9]:
len(bigcolumn)

300

### Step 7. `bigcolumn`의 인덱스를 0 to 299 가 되도록 reindex 하기

In [13]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

     level_0  index      0
0          0      0      1
1          1      1      4
2          2      2      4
3          3      3      1
4          4      4      1
..       ...    ...    ...
295      295     95  22990
296      296     96  12173
297      297     97  28558
298      298     98  24454
299      299     99  13679

[300 rows x 3 columns]