# Pokemon(포켓몬)

### Introduction:

이번에는 당신이 직접 데이터를 만들 것입니다.



### Step 1. 필요한 라이브러리 가져오기

In [1]:
import pandas as pd

### Step 2. Data dictionary 생성하기

In [2]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }


### 위 데이터 말고 자기 맘대로 막 만들어보기!!

### Step 3. dictionary를 `pokemon`이라는 변수에 할당하기

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

Dataframe의 열이 알파벳 순으로 정렬되어 있는 것 같습니다.

### Step 4. 열 순서 지정

`name`, `type`, `hp`, `evolution`, `pokedex`로 열의 순서를 지정합니다.

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. 새로운 열 추가 및 데이터 삽입

`place`라는 다른 열을 추가하고 원하는 내용을 삽입합니다.

         name   type  hp   evolution pokedex   place
0   Bulbasaur  grass  45     Ivysaur     yes    park
1  Charmander   fire  39  Charmeleon      no  street
2    Squirtle  water  44   Wartortle     yes    lake
3    Caterpie    bug  45     Metapod      no  forest

### Step 6. 각 열의 data type 출력

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object