### 051 리스트 생성
##### 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요.

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax">순위</th>
    <th class="tg-0lax">영화</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">1</td>
    <td class="tg-0lax">닥터 스트레인지</td>
  </tr>
  <tr>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">스플릿</td>
  </tr>
  <tr>
    <td class="tg-0lax">3</td>
    <td class="tg-0lax">럭키</td>
  </tr>
</tbody>
</table>

In [10]:
movie_rank = []

In [17]:
movie_rank = []
movie_rank.append("닥터 스트레인지")
movie_rank.append("스플릿")
movie_rank.append("럭키")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

### 052 리스트에 원소 추가
##### 051의 movie_rank 리스트에 "배트맨"을 추가하라.

In [18]:
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

### 053
#####  "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

In [19]:

movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

### 054
##### movie_rank 리스트에서 '럭키'를 삭제하라.

In [20]:
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

### 055
##### movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

In [21]:
# movie_rank.remove('럭키','배트맨')
del movie_rank[2:4]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

### 056
##### lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

In [27]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
##############
#코드를 적어주세요

langs = []
for i in lang1 :
    langs.append(i)
for i in lang2 :
    langs.append(i)
print(langs)

##############

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

### 057
##### 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

In [30]:
nums = [1, 2, 3, 4, 5, 6, 7]
##############
#코드를 적어주세요
print(min(nums))
print(max(nums))

##############

1
7

### 058
##### 다음 리스트의 합을 출력하라.

In [31]:
nums = [1, 2, 3, 4, 5]
##############
#코드를 적어주세요

result = 0
for i in nums :
    result += i
print(result)
##############

15

### 059
##### 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

In [32]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
##############
#코드를 적어주세요

print(len(cook))

##############

12

### 060
##### 다음 리스트의 평균을 출력하라.

In [33]:
nums = [1, 2, 3, 4, 5]
##############
#코드를 적어주세요

sum = 0

for i in nums :
    sum += i

print(sum/len(nums))

##############

3.0

### 061
##### price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

In [34]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
##############
#코드를 적어주세요

print(price[1:])

##############

[100, 130, 140, 150, 160, 170]

### 062
##### 슬라이싱을 사용해서 홀수만 출력하라.

In [36]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
##############
#코드를 적어주세요

print(nums[::2])
##############

[1, 3, 5, 7, 9]

### 063
##### 슬라이싱을 사용해서 짝수만 출력하라.

In [37]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
##############
#코드를 적어주세요

print(nums[1::2])
##############

[2, 4, 6, 8, 10]

### 064
##### 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

In [40]:
nums = [1, 2, 3, 4, 5]
##############
#코드를 적어주세요

print(nums[::-1])
##############

[5, 4, 3, 2, 1]

### 065
##### interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:삼성전자 Naver

In [47]:
interest = ['삼성전자', 'LG전자', 'Naver']
##############
#코드를 적어주세요

print(str(interest[0])+' '+str(interest[2]))

##############

삼성전자 Naver

### 066 join 메서드
##### interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [72]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
##############
#코드를 적어주세요


##############

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

### 067 join 메서드
##### interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [50]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
##############
#코드를 적어주세요

result = "/".join(interest)
print(result)
##############

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

### 068 join 메서드
##### join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

출력 예시:

삼성전자

LG전자

Naver

SK하이닉스

미래에셋대우

In [51]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
##############
#코드를 적어주세요

result = "\n".join(interest)
print(result)
##############

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

### 069 문자열 split 메서드
회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

이를 interest 이름의 리스트로 분리 저장하라.

['삼성전자', 'LG전자', 'Naver']

In [52]:
string = "삼성전자/LG전자/Naver"
##############
#코드를 적어주세요

string = string.split('/')
print(string)
##############

['삼성전자', 'LG전자', 'Naver']

### 070 리스트 정렬
##### 리스트에 있는 값을 오름차순으로 정렬하세요.

In [56]:
data = [2, 4, 3, 1, 5, 10, 9]
##############
#코드를 적어주세요

data.sort()
print(data)

##############

[1, 2, 3, 4, 5, 9, 10]