### 171
##### 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
32100

32150

32000

32500

In [1]:
price_list = [32100, 32150, 32000, 32500]

##############
#코드를 적어주세요


##############

32100
32150
32000
32500

### 172
##### 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

0 32100

1 32150

2 32000

3 32500

In [2]:
price_list = [32100, 32150, 32000, 32500]

##############
#코드를 적어주세요


##############

0 32100
1 32150
2 32000
3 32500

### 173
##### 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
3 32100

2 32150

1 32000

0 32500

In [3]:
price_list = [32100, 32150, 32000, 32500]

##############
#코드를 적어주세요


##############

3 32100
2 32150
1 32000
0 32500

### 174
##### 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
100 32150

110 32000

120 32500

In [5]:
price_list = [32100, 32150, 32000, 32500]

##############
#코드를 적어주세요


##############

100 32150
110 32000
120 32500

### 175
##### my_list를 아래와 같이 출력하라.
가 나

나 다

다 라

In [6]:
my_list = ["가", "나", "다", "라"]

##############
#코드를 적어주세요


##############

가 나
나 다
다 라

### 176
##### 리스트를 아래와 같이 출력하라.
가 나 다

나 다 라

다 라 마

In [7]:
my_list = ["가", "나", "다", "라", "마"]

##############
#코드를 적어주세요


##############

가 나 다
나 다 라
다 라 마

### 177
##### 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.
라 다

다 나

나 가

In [8]:
my_list = ["가", "나", "다", "라"]

##############
#코드를 적어주세요


##############

라 다
다 나
나 가

### 178
##### 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

In [9]:
my_list = [100, 200, 400, 800]

##############
#코드를 적어주세요


##############

100
200
400

### 179
##### 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

In [10]:
my_list = [100, 200, 400, 800, 1000, 1300]
##############
#코드를 적어주세요


##############

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

### 180
##### 리스트에 5일간의 저가, 고가 정보가 저장돼 있다.  low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

In [11]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

##############
#코드를 적어주세요


##############

50
100
30
80
0

### 181
##### 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

101호	102호

201호	202호

301호	302호

[['101', '102'], ['201', '202'], ['301', '302']]

### 182
##### 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

시가	종가

100	80

200	210

300	330

[['시가', '100', '200', '300'], ['종가', '80', '210', '330']]

### 183
##### 아래 표를 stock 이름의 딕셔너리로 표현하라. 시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.
##### 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

시가	종가

100	80

200	210

300	330

{'시가': ['100', '200', '300'], '종가': ['80', '210', '330']}

### 184
##### 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

10/10	80	110	70	90

10/11	210	230	190	200

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

### 185
##### 리스트에 저장된 데이터를 아래와 같이 출력하라.
101 호

102 호

201 호

202 호

301 호

302 호

In [26]:
apart = [ [101, 102], [201, 202], [301, 302] ]

##############
#코드를 적어주세요


##############

101
102
201
202
301
302

### 186
##### 리스트에 저장된 데이터를 아래와 같이 출력하라.
301 호

302 호

201 호

202 호

101 호

102 호

In [27]:
apart = [ [101, 102], [201, 202], [301, 302] ]

##############
#코드를 적어주세요


##############

301
302
201
202
101
102

### 187
##### 리스트에 저장된 데이터를 아래와 같이 출력하라.
302 호

301 호

202 호

201 호

102 호

101 호

In [28]:
apart = [ [101, 102], [201, 202], [301, 302] ]

##############
#코드를 적어주세요


##############

302
301
202
201
102
101

### 188
##### 리스트에 저장된 데이터를 아래와 같이 출력하라.

101 호

-

102 호

-

201 호

-

202 호

-

301 호

-

302 호

-

In [29]:
apart = [ [101, 102], [201, 202], [301, 302] ]

##############
#코드를 적어주세요


##############

101
-
102
-
201
-
202
-
301
-
302
-

### 189
##### 리스트에 저장된 데이터를 아래와 같이 출력하라.
101 호

102 호

-

201 호

202 호

-

301 호

302 호

-

In [30]:
apart = [ [101, 102], [201, 202], [301, 302] ]

##############
#코드를 적어주세요


##############

101
102
-
201
202
-
301
302
-

### 190
##### 리스트에 저장된 데이터를 아래와 같이 출력하라.
101 호

102 호

201 호

202 호

301 호

302 호

-

In [31]:
apart = [ [101, 102], [201, 202], [301, 302] ]

##############
#코드를 적어주세요


##############

101
102
201
202
301
302
-

### 191
##### data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.
##### 수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

In [34]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

##############
#코드를 적어주세요


##############

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

### 192
##### 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

2000.28
----
3050.427
----
2050.287
----
1980.2772
----
7501.05
----
2050.287
----
2050.287
----
1980.2772
----
15452.163
----
15052.107
----
15552.177
----
14902.086
----

### 193
##### 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

[2000.28, 3050.427, 2050.287, 1980.2772, 7501.05, 2050.287, 2050.287, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086]

### 194
##### 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라.
##### 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

[[2000.28, 3050.427, 2050.287, 1980.2772],
 [7501.05, 2050.287, 2050.287, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086]]

### 195
##### ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

In [64]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

##############
#코드를 적어주세요


##############

100
190
310

### 196
##### 종가가 150원보다 큰경우에만 종가를 출력하라.

In [67]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

##############
#코드를 적어주세요


##############

190
310

### 197
##### 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

In [68]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

##############
#코드를 적어주세요


##############

100
310

### 198
##### 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

In [72]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

##############
#코드를 적어주세요


##############

[40, 30, 10]

### 199
##### 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

In [73]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

##############
#코드를 적어주세요


##############

10

### 200
##### 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

In [75]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

##############
#코드를 적어주세요


##############

0