### 221
##### 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

nohtyp

### 222
##### 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

2.0

### 223
##### 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

2
4

### 224
##### 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

나이
키

[100, 130, 100, 100]

### 225
##### my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

[10, 12, 10, 11]

### 226
##### 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

print
value
s

### 227
##### 문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

mac
hin
e l
ear
nin
g

### 228
##### 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라.
##### 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.

8333333

### 229
##### 아래 코드의 실행 결과를 예측하라.

```python
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)
```

### 230
##### 아래 코드의 실행 결과를 예측하라.

```python
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)
```

### 231
##### 아래 코드를 실행한 결과를 예상하라.

```python
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)
```

### 232
##### 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.

'www.naver.com'

### 233
##### 문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

['s', 'p', 'r', 'i', 'n', 'g']

### 234
##### 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

[2, 4, 6]

### 235
##### 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

123456

### 236
##### 아래 코드의 실행 결과를 예측하라.

```python
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)
```

### 237
##### 아래 코드의 실행 결과를 예측하라.

```python
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
```

### 238
##### 아래 코드의 실행 결과를 예측하라.

```python
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)
```

### 239
##### 아래 코드의 실행 결과를 예측하라.

```python
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)
```

### 240
##### 아래 코드의 실행 결과를 예측하라.

```python
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)
```